@import './variable';
#footer-container {
    position: relative;
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;
    padding: 50px 0 200px;
    background-color: $colorRedDark;

    .couple-image {
        position: relative;
        width: 400px;
        height: 400px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;

        @media (min-width: 768px) {
            width: 500px;
            height: 500px;
        }

        img {
            position: absolute;
            top: calc(50% - 180px);
            left: calc(50% - 160px);
            border-radius: 50%;

            @media (min-width: 768px) {
                top: calc(50% - 230px);
                left: calc(50% - 220px);
            }
        }
    }
}