@import './variable';
#header {
    .main-menu {
        a {
            transition: 0.3s ease-in-out;
            &:hover {
                text-shadow: 0 0 10px $colorYellow;
                color: $colorYellow;
                font-weight: 600;
            }
        }
    }
}