@import './variable';
#header {
    .main-menu {
        a {
            color: $colorBlack;
            transition: 0.3s ease-in-out;
            &:hover {
                color: $colorPink;
            }
        }
    }
}