@import './variable';
#scroll-to-top {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    right: 10px;
    bottom: 50px;
    z-index: 10;
    border-radius: 50%;
    background-color: $colorRed;
    transition: all 2s ease-in;
    cursor: pointer;
    animation: push 1s infinite 0s;

    span {
        color: $colorWhite;
        transform: rotate(-90deg);
    }

    @keyframes push {
        0% {
            box-shadow: 0;
        }
        50% {
            box-shadow: 0 0 0px 5px $colorPink;
        }
        0% {
            box-shadow: 0;
        }
    }
}