$colorBlack: #444;
$colorPink: #e5a9b0;
$colorPinkLight: #fca5a5;
$colorWhite: #FFF;
$colorRed: #ac0202;
$colorRedDark: #850000;
$colorRedSuperDark: #770000;
$colorBgGray: #F2EDED;
$colorYellow: #ffae00;
$colorYellowLight: #ffd680;
$colorRedLight: #fa8383;
